engine-strict=true
shamefully-hoist=true

## registry
registry=https://registry.npmjs.org/
strict-ssl=false

## proxy
#http_proxy=http://proxy_host:port
#https-proxy=http://proxy_host:port
# http_proxy=http://cnpmjs.org/downloads
# https_proxy=http://cnpmjs.org/downloads
